<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574760414806-b7dnfpvpslaq1lova9qa54ikqf5mttg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574760414806-b7dnfpvpslaq1lova9qa54ikqf5mttg3</string>
	<key>API_KEY</key>
	<string>AIzaSyDzHlVazMi5tD_AbHDMZ3aZ-VJXgfAzNeg</string>
	<key>GCM_SENDER_ID</key>
	<string>574760414806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.Nanameue</string>
	<key>PROJECT_ID</key>
	<string>nanameue-c3fe4</string>
	<key>STORAGE_BUCKET</key>
	<string>nanameue-c3fe4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574760414806:ios:997d2cff9b768f448f95f7</string>
</dict>
</plist>